# .env.testflight.example

# Store these values in the EAS production environment.
EXPO_PUBLIC_API_URL=https://https://chiors-api-production.up.railway.app
EXPO_PUBLIC_SOCKET_URL=https://https://chiors-api-production.up.railway.app
IOS_BUNDLE_IDENTIFIER=com.rafaelcaba.choirsapp

